.v-container{
    border: 8px solid rgb(232 232 232 /93%)
}

.v-container>div{
   flex: 1;
}

.v-right{
    gap: 0.5rem;
}

.accordion{
    margin-top: 2rem;
    border:none;
}

.accordionItem{
    background:white;
    border:0.8px solid 128,128,128, 0.143;
    border-radious: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px -8px 22px -8px rgba(0,0,0,0.71);
    -moz-box-shadow: 10px -8px 22px -8px rgba(0,0,0,0.71);
    box-shadow: 10px -8px 22px -8px rgba(0,0,0,0.71);
}

.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radious: 6px;
}

.accordionbutton{
  background:white; 
  padding: 1rem;
  width: 100%; 
  justify-content: space-between;
  cursor: pointer;
}

.icon {
    padding: 10px;
   
    border: radious 5px;
}

.icon svg{
    fill: var(--blue);
}

.accordionbutton .primaryText{
    font-size: 1.1rem;
}

